@font-face {
    font-family: "Bebas-Neue";
    src: url(/Fuentes/BebasNeue-Regular.ttf);
}

body {
    margin: 0; /* Para quitar el por defecto */
}

/*div { /* Por especificidad, se recomienda trabajar con clases si es posible */
    /* Para centrar un elemento */
/*    margin-left: auto;
/*    margin-right: auto;
    /* Para gestionar los contenidos mayores a sus contenedores, a priori usamos: */
/*    overflow: auto;
/*}*/

footer {
    position: relative;
    bottom: 0;
}

.jumbotron {
    background-color: #ECECEC;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
}

.jumbotron h1 {
    color: #535D6C;
    font-family: "Bebas-Neue";
    font-size: 5em;
    letter-spacing: 0.25em;
}

.navbar-brand {
    margin-left: 7px;
    margin-right: 0;
}

#landing_page {
    height:80vh;
}
#search {
    margin-right: 5px;
}
#row {
    height: 80vh;
}
#QR, #contact {
    /*margin-left: auto;
    margin-right: auto;*/
    margin: auto;
    position: absolute;
    top: 50%;
}
#logo {
    margin-right: 10px;
}
#contact{
    border: 1px solid #ECECEC;
    box-shadow: 0em 0em 0.7em 0.03em rgba(83, 93, 108, 0.2);
}