@font-face {
    font-family: "Bebas-Neue";
    src: url(/Fuentes/BebasNeue-Regular.ttf);
}

body {
    margin: 0; /* Para quitar el por defecto */
}

/*div { /* Por especificidad, se recomienda trabajar con clases si es posible */
    /* Para centrar un elemento */
/*    margin-left: auto;
/*    margin-right: auto;
    /* Para gestionar los contenidos mayores a sus contenedores, a priori usamos: */
/*    overflow: auto;
/*}*/

footer {
    position: relative;
    bottom: 0;
}

.jumbotron {
    background-color: #ECECEC;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
}

.jumbotron h1 {
    color: #535D6C;
    font-family: "Bebas-Neue";
    font-size: 5em;
    letter-spacing: 0.25em;
}

.navbar-brand {
    margin-left: 7px;
    margin-right: 0;
}

.card-title{
    /* padding: 10px; */
    /* border-bottom: 1px solid gainsboro; */
    margin-bottom: 20px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

#search {
    margin-right: 5px;
}
.capas {
    height: 75vh;
}
#landing_page {
    height:75vh;
}
#left{
    /* text-align: center; */
    height: 230px;
    margin: auto 0px;
    /* offset: 4px solid black; */
    /* padding-left: -100px; */
}
#QR{
    /* background-color: lightcoral; */
    margin: 10px auto;
    border-radius: 2px;
    border: 1px solid #ECECEC;
    /* offset:1px solid#535D6C; */
}
#right {
    /* border-left: 1px solid gainsboro; */
}

#logo {
    margin-right: 10px;
}
#contact{
    border-left: 5px solid #ECECEC;
    box-shadow: 0em 0em 0.7em 0.03em rgba(83, 93, 108, 0.2);
    margin: auto;
    /* position: absolute; */
    /* top: 35%; */
    width: 80vw;
}
#card {
    /* width: 50vw; */
}
#carruselContacto {
    height: 50vh;
    width: 60vw;
}
#contenedor_mapa {
    text-align: center;
}
/*#dropdown-menu-navbar{
    /*margin-top: 25px;*/
#ampliar{
    width: fit-content;
    /* margin-top: -120px;
    margin-bottom: 0;
    margin-left: 400px; */
}

/* Para el divisor vertical */
/* @import "compass/css3"; */

.or-spacer-vertical {
  display:inline-block;
  margin-top:100px; margin-left:100px; width:100px; 
  position:relative; 
}
.mask { 
  overflow:hidden; width:20px; height:200px;
}
.lefts .mask:after { 
  content:''; 
  display:block; margin-left:-20px;
  width:20px; height:100%;  
  border-radius:12px / 125px;  
  box-shadow:0 0 8px #535D6C;
  border: #535D6C;
}
.rights .mask:before { 
  content:''; 
  display:block; margin-left:20px;
  width:20px; height:100%; 
  border-radius:12px / 125px; 
  box-shadow:0 0 8px #535D6C;
}