/* Para borrar los margenes del navegador */
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(20, 40, 60);
}
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
stroke: #fff;
stroke-width: 1.5px;
}
